body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 0;
    position: relative;
    text-align: center;

}

h1 form {
    display: inline-block;
    float: right;
}

h1 input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

h1 button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
}

