<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>INKBank</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
</head>
<body>
<h1>
    <span class="accounts-list">Счета</span>
    <form action="" method="GET" style="display: inline-block; margin-left: 20px;">
        <input type="text" name="account_url" autocomplete="on" placeholder="Поиск..." value={{ account_url }}>
        <button type="submit">Искать</button>
    </form>
</h1>

<div class="container">
    {% for account in accounts %}
    <div class="account-card">
        <img src="{% url 'get_account_icon' account.id %}" alt="{{ account.name }}">
        <h3 class="account-name">{{ account.type }} "{{ account.name }}"</h3>
        <p class="currency"><span class="account-price">{{ account.get_display_amount }}</span> {{ account.get_currency_symbol }}</p>
        <h4 class="availability">{{ account.availability_status }}</h4>
        <a href="/account/{{ account.name }}" class="details-link">Подробнее</a>
        {% if account.availability_display %}
        <a href="/freeze_account/{{ account.name }}" class="freeze-link">Заморозить счет "{{ account.name }}"</a>
        {% else %}
        <a href="/freeze_account/{{ account.name }}" class="freeze-link">Разморозить счет "{{ account.name }}"</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
</body>
</html>
