<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
</head>
<body>
<h1>Не найдено</h1>
<div class="container">
    <div class="service-card">
        <p>К сожалению, по Вашему запросу ничего не найдено.</p>
        <a href="/accounts" class="back-link">Назад к списку услуг</a>
    </div>
</div>
</body>
</html>
