<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" href="../bmstu/static/css/style.css"> <!-- Подключение общих стилей -->
    <link rel="stylesheet" type="text/css" href="../bmstu/static/css/service.css"> <!-- Подключение стилей для страницы "service.html" -->
</head>
<body>
<h1>Не найдено</h1>
<div class="container">
    <div class="service-card">
        <p>К сожалению, по Вашему запросу ничего не найдено.</p>
        <a href="/" class="back-link">Назад к списку услуг</a>
    </div>
</div>
</body>
</html>
