<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Список услуг</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> <!-- Include common styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}"> <!-- Include styles for the services page -->
</head>
<body>
<h1>
    <span class="services-list">Список услуг</span>
    <form action="" method="GET" style="display: inline-block; margin-left: 20px;">
        <input type="text" name="query" placeholder="Поиск...">
        <button type="submit">Искать</button>
    </form>
</h1>

<div class="container">
    {% for service in services %}
    <div class="service-card">
        <img src="{% static service.ImageURL %}" alt="{{ service.Name }}">
        <h3 class="service-name">{{ service.Name }}</h3>
        <p><span class="service-price">{{ service.Conditions }}</span></p>
        <a href="/service/{{ service.Name }}" class="details-link">Подробнее</a>
    </div>
    {% endfor %}
</div>
</body>
</html>
