<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <h1>Карта {{ account.name }}</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
</head>
<body>
    <div class="container">
        <div class="account-card">
            <img src="{% url 'get_account_icon' account.id %}" alt="{{ account.name }}">
            <h2>Баланс: {{ account.get_display_amount }} {{ account.get_currency_symbol }}</h2>
            <h3>Данные карты</h3>
            <p>Номер карты: {{ card_terms.number }}</p>
            <p>CVV: {{ card_terms.cvv }}</p>
            <p>Имя держателя: {{ card_terms.holder_first_name }} {{ card_terms.holder_last_name }}</p>
            <p>Действует до: {{ card_terms.exp_date }}</p>
            <p>БИК банка: {{ account.bic}}</p>
            <a href="/accounts" class="back-link">Назад к счетам</a>
        </div>
    </div>
</body>
</html>
