<!DOCTYPE html>
<html>
<head>
    <title>Список услуг</title>
    <link rel="stylesheet" type="text/css" href="../../bmstu/static/css/style.css"> <!-- Подключение общих стилей -->
    <link rel="stylesheet" type="text/css" href="../../bmstu/static/css/services.css"> <!-- Подключение стилей для страницы "services.html" -->
</head>
<body>
<h1>
    <span class="services-list">Список услуг</span>
    <form action="" method="GET" style="display: inline-block; margin-left: 20px;">
        <input type="text" name="service_title" placeholder="Поиск...">
        <button type="submit">Искать</button>
    </form>
</h1>


<div class="container">
    {{range .Services}}
    <div class="service-card">
        <img src="{{.ImageURL}}" alt="{{.Name}}">
        <h3 class="service-name">{{.Name}}</h3>
        <p><span class="service-price">{{.Conditions}}</span></p>
        <a href="/{{.Name}}" class="details-link">Подробнее</a>
    </div>
    {{end}}
</div>
</body>
</html>
