<!DOCTYPE html>
<html>
<head>
  <title>{{service["Name"]}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css"> <!-- Подключение общих стилей -->
  <link rel="stylesheet" type="text/css" href="css/service.css"> <!-- Подключение стилей для страницы "service.html" -->
</head>
<body>
<h1>{{.Name}}</h1>
<div class="container">
  <div class="service-card">
    <img src="{{.ImageURL}}" alt="{{.Name}}">
    <p>{{.Description}}</p>
    <a href="/" class="back-link">Назад к списку услуг</a>
  </div>
</div>
</body>
</html>
