.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.accounts-list {
    margin-left: 200px
}
.account-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.account-card img {
    max-width: 100%;
    height: auto;
}

.account-name {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.currency {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.account-price {
    color: #3498db;
    font-weight: bold;
}

.details-link {
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.freeze-link {
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
